<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seva_buddyv2">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication.NoActionBar">
        <activity
            android:name=".Editcusprofile"
            android:exported="true" />
        <activity
            android:name=".admin_approve"
            android:exported="true" />
        <activity
            android:name=".admin_home"
            android:exported="true" />
        <activity
            android:name=".make_appointment"
            android:exported="true" />
        <activity android:name=".provide_home" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".accType" />
        <activity android:name=".AccountCreation" />
        <activity android:name=".provider_AccountCreation" />
        <activity android:name=".provider_addnew" />
        <activity android:name=".provider_update" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>